* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  height: 100vh;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  /* gap: 20px; */
}

.steps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* gap: 20px; */
}

.form {
  display: flex;
  gap: 30px;
}

label {
  font-size: 20px;
}

input {
  display: block;
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 3px solid grey;
  font-size: 20px;
}

.btn {
  padding: 20px 30px;
  font-size: 20px;
  /* width: 100%; */
  height: 62%;
  transform: translateY(42px);
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
}

.btn:hover
{
  background: grey;
}

.steps-list-title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 50px;
  gap: calc(340px / 3);
  font-size: 20px;
}

.steps-list-items {
  padding: 20px 0px;
  min-width: 100%;
  min-height: 120px;
  border: 2px solid grey;
  border-radius: 12px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.step-list-item {
  display: flex;
  width: 87%;
  height: 40px;
  border: 2px solid grey;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px 20px;
  font-size: 20px;
}
.step-list-edit-and-remove
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}